* {
    padding: 0%;
    margin: 0%;
    border: 0%;
}

body {
    background: linear-gradient(to right, white, #515151);
    text-align: center;
    overflow-x: hidden;
}

.hidden {
    display: none;
}

.contact-row {
    text-align: left;
    position: relative;
    display: block;
    width: 98vw;
    font-size: 30px;
    left: 0px;
    padding-left: 1vw;
    padding-right: 1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
    border: white 3px solid;
    top: 20px;
}

span {
    padding-left: 10px;
    padding-right: 10px;
    border-left: 3px solid rgb(255, 255, 255);

}