* {
    padding: 0%;
    margin: 0%;
    border: 0%;
}

form {
    font-size: 1.2em;
}

input {
    font-size: 1em;
}

body {
    background: linear-gradient(to right, white, #515151);
    text-align: center;
    overflow-x: hidden;
}

.hidden {
    display: none;
}

.contact-row {
    text-align: center;
    position: relative;
    display: block;
    margin: auto;
    width: 96vw;
    font-size: 30px;
    left: 0px;
    padding-left: 1vw;
    padding-right: 1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
    border: white 3px solid;
    top: 20px;
    /*transition: font-size .1s;*/
}

.contact-row:hover {
    padding-top: 1vh;
    padding-bottom: 1vh;
    transition: all .5s
}


span {
    display: inline-block;
    font-size: 25px;
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 9px;
    text-align: center;
    margin: 20px;
    cursor: pointer;
}

.firstName {
    width: 100px;
}

.lastName {
    width: 250px;
}

.city {
    width: 200px;
}

.state {
    width: 50px;
}

.country {
    width: 60px;
}

.email {
    width: 300px;
}

.phoneNumber {
    width: 200px;
}

span:hover {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #b7b7b7;
    transition: all .5s;
}

.delete {
    display: inline-block;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    color: white;
    background-color: rgb(232, 60, 60);
    border: 0px;
}

.delete:hover {
    height: 2.2em;
    width: 2.2em;
    border: 1px solid white;
    background-color: red;
    transition: all .5s;
}